<%# TODO: Translations! %>
<%= render :partial => 'pidoco/projectid_js' %>
<%= javascript_include_tag "pidocodiv", :plugin => 'redmine_pidoco' %>
<div class="box">
  <h3>Pidoco° prototypes for this project</h3>  
  <div id="pidocodiv">
  Waiting for the pidoco° server…
  </div>
  <p><a href="http://www.pidoco.com">Go to your repository</a></p>
</div>