.jstb_page_png { /* jstoolbar generates CSS classes with underscores */
        background-image: url(../images/jstoolbar/bt_page_png.png);
}

div.pidoco-box h3 {
	background: url(../images/jstoolbar/bt_page_png.png) no-repeat;
	padding-left: 20px;
}

dt.discussion {
    background-image: url(../images/jstoolbar/bt_page_png.png);
}